body {
    background-color: rgb(184, 211, 212);
    
}
header {
    background: linear-gradient(rgb(148, 209, 246),rgb(25, 25, 102) );
    margin: -10px;
}
h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
    color: rgb(238, 226, 226);
    font-size: 44px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#searchNav {
    width: 20%;
}
h2 {
    font-size: 32px;
}

main {
    margin: 20px;
    margin-top: 40px;
}

#userSearch {
    width: 140px;
    height: 30px;
    font-size: 16px;
}

#searchBtn {
    background: rgb(80, 80, 148);
    color: rgb(238, 226, 226);
    height: 25px;
    width: 70px;
}

#todayCityData {
    font-size: 18px;
    list-style-type: none;
    margin: 0 auto;
    
}

/* styling current weather card container */
.card {
    background-color: rgb(245, 233, 212);
    padding: 2px;
    padding-left: 2px;
    width: 840px;
    border: 5px solid rgb(231, 190, 190);
    border-style: double;
    margin: auto;
}
#cityHeader {
    font-family: monospace;
    padding: 15px;
    padding-top: 10px;
    text-align: center;
}

/* the current date line */
#todayDate {
   font-size: 26px;
   margin: 15px;
   font-family: monospace;
}

/* formatting the list of current weather attributes */
#currentList {
    list-style-type: none;
    margin: 20px;
    font-size: 26px;
    font-family: monospace;
}
#uvi {
    
}
/* 5-day forecast classes and ids */
.forecast {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    /* background: linear-gradient(rgb(148, 209, 246),rgb(97, 97, 224) ); */
    background: linear-gradient(rgb(148, 209, 246),rgb(25, 25, 102) );
    text-align: justify;
    width: 19%;
    color: whitesmoke;
    border: 2px solid rgb(255, 239, 239);
    border-style: dashed;
    align-items: center;
    
    font-family: monospace;
}

#cityForecast {
    font-size: 30px;
    padding: 15px;
}
#forecastDay {
    margin: 40px;
    font-size: 24px;
    
}
#forecastList {
    list-style-type: none;
    font-size: 20px;
    flex-wrap: wrap;
}

/* search history section */
#searchHistory {
    font-size: 24px;
}

#searchList {
    list-style-type: none;
}

#searchList li {
    margin-bottom: 20px;
    cursor: pointer;
}
