body {
    background-color: rgb(184, 211, 212);
}
header {
    background: linear-gradient(rgb(148, 209, 246),rgb(25, 25, 102) );
    margin: -10px;
}
h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
    color: rgb(238, 226, 226);
    font-family: Geneva, Tahoma, sans-serif;
    
}

main {
    margin: 20px;
    margin-top: 40px;
}

#userSearch {
    width: 140px;
    height: 30px;
    font-size: 16px;
}

#searchBtn {
    background: rgb(80, 80, 148);
    color: rgb(238, 226, 226);
    height: 25px;
    width: 70px;
}

#todayCityData {
    font-size: 18px;
    list-style-type: none;
    
}

/* styling current weather card container */
.card {
    background-color: rgb(245, 233, 212);
    padding: 2px;
    padding-left: 2px;
    width: 340px;
    border: 5px solid rgb(231, 190, 190);
    border-style: double;
}

/* the current date line */
#todayDate {
   font-size: 26px;
   margin: 15px;
}

/* formatting the list of current weather attributes */
#currentList {
    list-style-type: none;
    margin: 20px;
    font-size: 26px;
}
#uvi {
    
}